.jumbotron{
    background-color: y;
}
body{
  
    background-image: url('../images/background.png');    
    color: white;
    font-family: 'DM Serif Text', serif;
}

.board{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container-fluid{
    padding: 0;
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
  
}
a{
    color: white;
}

.aboutMeImage{
    width: 100%;
}

.name {
    position: absolute;
    left: 0;
    top: 22%;
    width: 100%;
    text-align: center;
    font-size: 100%;
    text-shadow: 2px 2px black;
    
  }

span{
    color: white;
    font-family: 'DM Serif Text', serif;
 
}
.name1{
    position: absolute;
}



  .ml15 {
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
  
  .ml15 .word {
    display: inline-block;
    line-height: 1em;
    
  }
  .navbar{
      color: white;
      position:absolute;   
      left: 0;
      top: 0%;
      width: 100%;
      text-align: center;
      font-size: 100%;
      text-shadow: 2px 2px black;

  }

  .headerImage{
    filter: blur(5px);
    filter: brightness(0.4);
    filter: contrast(200%);
    filter: drop-shadow(16px 16px 20px blue);
    filter: grayscale(50%);
    filter: hue-rotate(90deg);
    filter: invert(75%);
    filter: opacity(45%);
    filter: saturate(50%);
    filter: sepia(50%);
  }

  .rentals{
      background: url('../images/rentals.jpg');
     background-size: 100%;
     background-repeat: no-repeat;
     min-height: 200px;
     /* filter: blur(5px);
     filter: brightness(0.4);
     filter: contrast(200%);
     filter: drop-shadow(16px 16px 20px blue);
     filter: grayscale(50%);
     filter: hue-rotate(90deg);
     filter: invert(75%);
     filter: opacity(45%);
     filter: saturate(50%);
     filter: sepia(50%); */
  }

  .homesAvailable{
    background: url('../images/available.jpg');
   background-size: 100%;
   background-repeat: no-repeat;
   min-height: 200px;
   /* filter: blur(5px);
   filter: brightness(0.4);
   filter: contrast(200%);
   filter: drop-shadow(16px 16px 20px blue);
   filter: grayscale(50%);
   filter: hue-rotate(90deg);
   filter: invert(75%);
   filter: opacity(45%);
   filter: saturate(50%);
   filter: sepia(50%); */
}

.recommendedListings{
    background: url('../images/recommended.jpg');
   background-size: 100%;
   background-repeat: no-repeat;
   min-height: 200px;
   /* filter: blur(5px);
   filter: brightness(0.4);
   filter: contrast(200%);
   filter: drop-shadow(16px 16px 20px blue);
   filter: grayscale(50%);
   filter: hue-rotate(90deg);
   filter: invert(75%);
   filter: opacity(45%);
   filter: saturate(50%);
   filter: sepia(50%); */
}


  .info2{
    height: 250px;
}
.textMiddle{
 
font-size: 180%; 
text-shadow: 2px 2px black;
background: rgba(204, 204, 204, 0.5);

    /* filter: blur(5px);
    filter: brightness(0.4);
    filter: contrast(200%);
    filter: drop-shadow(16px 16px 20px blue);
    filter: grayscale(50%);
    filter: hue-rotate(90deg);
    filter: invert(75%);
    filter: opacity(45%);
    filter: saturate(50%);
    filter: sepia(50%); */
}

.textBackground{
    position: relative;
    top: 40%;

}

.hamburger{
    color: white;
  
}

.cristinaRealtyLogo{
    width: 20%;
    background: rgba(109, 97, 97, 0.5);

}